<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFlex class="menu-topology mat-typography">
  <div class="wrapper-search-add-bus">
    <form [formGroup]="searchForm">
      <mat-form-field appearance="outline" fxFlex>
        <input [appFocusInput]="focusSearchInput$" matInput placeholder="Search by name or host" formControlName="search" class="search">
        <span matPrefix>
          <fa-icon icon="search" class="icon-x2"></fa-icon>
        </span>
      </mat-form-field>
    </form>
  </div>

  <app-material-tree
    [tree]="tree"
    [search]="search"
    [marginLeft]="14"
    (evtToggleFold)="treeToggleFold($event)"
    (evtSelect)="treeSelect($event)"
  ></app-material-tree>

  <app-message
    *ngIf="tree.length === 0 && search"
    type="info"
    msg="There is no match with &quot;{{ search }}&quot;."
    (evtClose)="focusSearch()"
    class="info no-match"
  ></app-message>
</div>