/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card.workspaces {
  width: 100%;
  height: 100%;
  max-height: 65%;
  max-width: 65%;
  padding: 0;
  margin-left: 64px;
  .workspaces-wrapper {
    .workspaces-content {
      padding: 24px;
      div > .title-workspaces-view,
      div > .info-create-wks,
      div > div > .info-workspaces-list {
        margin: 0;
        text-align: center;
      }
      .spinner-animation {
        width: 100%;
        height: 100%;
      }
      .spinner-animation > .spinner {
        width: 120px;
        height: 120px;
        position: relative;
        border-radius: 50%;
        border-top-width: 6px;
        border-top-style: solid;
        border-right: 6px solid transparent;
        animation: spinner 1.6s linear infinite;
      }
      @keyframes spinner {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      div.no-wks-found {
        .icon-wks-wrapper {
          .icon-no-wks-found {
            font-size: calc(5vw + 5vh);
          }

          h1.info-no-wks {
            font-size: calc(0.8em + 1vw);
            line-height: calc(0.8em + 1vw);
            font-weight: 300;
            text-align: center;
          }
        }
      }
    }
    .home-wrapper {
      margin: 0;
      padding: 0;
      .logo-wrapper {
        width: 170px;
        height: 120px;
        position: relative;
        .logo-petals {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          position: absolute;
          background-image: url(../../../../assets/img/logo-petals-cockpit.png);
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }
      .custom-border {
        width: 40%;
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
      .home-text {
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.btn-create-wks,
.btn-back-wks-list {
  border-radius: 9999px;
}
