<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div *ngIf="msg && !isHidden" fxLayout="column" class="msg-content" [ngClass]="type">
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-icon [ngClass]="type">{{ icon }}</mat-icon>
    <span fxFlex class="msg-details italic margin-left-x1">{{ msg | shorten: maxLength: '...' }}</span>
    <button
      class="btn-view-more-message text-upper"
      type="button"
      mat-button
      *ngIf="msg.length > maxLength; else cancelMessage"
      fxLayoutAlign="end center"
      (click)="openDialog()"
    >
      <span class="view-more-name">View more</span>
    </button>

    <ng-template #cancelMessage>
      <button class="btn-cancel-message" *ngIf="type !== 'error' && isClosable" type="button" (click)="hideMessage()" mat-icon-button>
        <mat-icon [ngClass]="type">cancel</mat-icon>
      </button>
    </ng-template>
  </div>
</div>

<ng-template #dialog>
  <div fxLayout="column" class="content msg-dialog">
    <div class="central-content">
      <div class="msg-dialog-type" fxLayout="row" matDialogTitle fxLayoutAlign="start start" [ngClass]="type + 'Dialog'">
        <span fxLayoutAlign="start center">
          <mat-icon [ngClass]="type + 'Dialog'">{{ type }}</mat-icon>
          <span class="margin-left-x1 msg-dialog-title">Complete {{ type }}:</span>
        </span>
      </div>

      <mat-dialog-content>
        <p fxLayout="column" *ngIf="msg">
          <span class="msg-dialog-details">{{ msg }}</span>
        </p>
      </mat-dialog-content>

      <mat-dialog-actions class="margin-top-x1" fxLayout="row" fxLayoutAlign="end center">
        <!-- we can't simply use matDialogClose because of https://github.com/angular/material2/issues/5412 -->
        <button class="btn-close-dialog" type="button" mat-button (click)="dialogRef.close()">
          <mat-icon class="margin-right-x1" color="warn">close</mat-icon>
          <span class="text-upper">Close</span>
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</ng-template>
