/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@import './utils';

@mixin custom-color-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .color-primary {
    color: mat-color($primary, 700);
  }

  .color-accent {
    color: mat-color($primary, 700);
  }

  .color-primary-light-bold {
    color: mat-color($primary, 600);
  }

  .color-accent-light-bold {
    color: mat-color($accent, 600);
  }

  .color-primary-bold {
    color: mat-color($primary, darker);
  }

  .color-accent-bold {
    color: mat-color($accent, darker);
  }

  .color-red-light-bold {
    color: mat-color($mat-red, 600);
  }

  .color-green-light-bold {
    color: mat-color($mat-green, 600);
  }
}
